/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
}

/* NAVBAR */
nav {
  background-color: #c62828; /* deep red */
  color: white;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

nav h2 {
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/* CONTAINER */
.container {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

/* PAGE TITLES */
h1, h2 {
  margin-bottom: 20px;
  color: #161414; /* dark red */
}

/* VIDEO CARD */
.card {
  border: 1px solid #f2bcbc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(198,40,40,0.2);
}

.card h3 {
  margin-bottom: 10px;
  color: #c62828;
}

.card p {
  margin-bottom: 8px;
  font-size: 15px;
}

/* BUTTONS */
button {
  background-color: #c62828;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #b71c1c;
}

/* FORM */
form {
  max-width: 420px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #f2bcbc;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

input:focus, select:focus {
  outline: none;
  border-color: #c62828;
}

/* LINKS */
a {
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav div {
    margin-top: 10px;
  }

  .container {
    padding: 20px;
  }
}

